services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend

  tester:
    build: ./backend
    # This service will run the test and then stop
    command: python main_test.py
    environment:
      - API_URL=http://backend:8000
    depends_on:
      backend:
        condition: service_healthy